body{
    padding: 0;
    margin: 0;
}

.field{
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 767px) {
  /*ウィンドウ幅が767px以上の場合に適用*/
}

/* タブレット用 */
@media screen and (max-width: 767px) {
  /*ウィンドウ幅が最大767pxまでの場合に適用*/
}

/* スマホ用 */
@media screen and (max-width: 479px) {
    .titles{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 10vh;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maineria{
        position: absolute;
        top: 15vh;
        left: 1.5vw;
        width: 85vw;
        height: 85vh;
        overflow-y: scroll;
        z-index: 3;
        -ms-overflow-style: none;    /* IE, Edge 対応 */
        scrollbar-width: none;       /* Firefox 対応 */
    }
    .meineria::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
    }
    .button_a{
        background-color: black;
        color: white;
        width: 37.5vw;
        height: 28vw;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3.5vw;
        margin-right: 1.5vw;
        margin-bottom: 5vw;
    }
    .button_b{
        background-color: black;
        color: white;
        width: 37.5vw;
        height: 28vw;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1.5vw;
        margin-right: 3.5vw;
        margin-bottom: 5vw;
    }
    .side_button_1{
        position: absolute;
        background-color: black;
        border-radius: 50%;
        color: white;
        top: 15vh;
        right: 0.5vw;
        width: 10vw;
        height: 10vw;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1.5vw;
        margin-right: 3.5vw;
        margin-bottom: 5vw;
        background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3NzU3Ny03Nzc1Nzc3Ny03Nzc3NTc3NzU3Ny03Nzc1NS0tNS4tNTU3NTU1NDc3Lv/AABEIACAAIAMBIgACEQEDEQH/xAAZAAADAQEBAAAAAAAAAAAAAAACAwQFBgH/xAApEAABBAEEAQIGAwAAAAAAAAABAgMEEQUABhIhMSJBExUkUWFxBxQy/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAEC/8QAGBEBAQEBAQAAAAAAAAAAAAAAAAERQTH/2gAMAwEAAhEDEQA/ADkyclv7Jz2Ic7LQ5MGe6l9xl36ePGTaUgJSQVOEpvvvz7a6ZG3dtKcDHxdxrcBSldzn7BNUVDl1etH+PXTH2rkn2GkKdGSmq42EBag6qrPgewvS8fkMq1nJUwY5r65bSVpM1imwkBNil2eu6rQRSNvbNjykx3cpk+ZKgpQyr3Fsj2UeXX20OXxje0Y2PzW3spkFIXMYQ4w/KW81IacWEnpRNH1AgjTNwQHo+TbkfNWVsgvuOOoaauNQsJ4cwXCr/IodEWa0reE1qRtaClp5L6USoCeYAFn4qCbSCeJ78anmFuLtjtOTNl5ZpoBTr0+clI6Fkuq1hTIy4GRix3mQZDUhn4imo6zV8VH1eD57r30zF5KTtF6biclj8gCia++w+xEW82+24sqBBSDXmiDr1e5m1lwlzcfFZJKf6Mih6r6pA/X6Op1NBmocSFHyaspAVImSnn1w1MIU7xTQ42Umk9n3/OpM002xtiCUt8FvTIa3eu1LLrdk/nQyM2wVpLPz8BJsAwnyD6iaIKPzXnxWkrVL3TNhY/HQZ6lGWy68+/FW02y2hYUSSoD7dAedakI//9k=);
        background-position: center;
        background-repeat: no-repeat;
    }
  .allContents {
    display: block;
  }
}